*{
    box-sizing: border-box;
}
body{
   background-color: rgb(89, 34, 140);
    margin: 0;
    padding: 0;
}
.card{
    /* background-color: white; */
    margin: 7rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.pro-card{
    width: 50%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    /* border: 5px solid rgb(53, 15, 120); */
}
img{
    border-radius: 6rem;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: solid rgb(53, 15, 120);
    
}
.pro-card:hover{
    background-color: rgb(168, 145, 208);
}
.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(53, 15, 120);
}
.p{
    padding: 7px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 19px;
    color: rgb(53, 15, 120);
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 14px;
}
a{
    color: rgb(53, 15, 120);
}
a:hover{
    background-color:rgb(241, 235, 251);
    cursor: grab;
}
